.chair {
    width: 70px;
    height: 70px;
    background-color: #333;
    display: flex; /* Ensure the button is a flex container */
  
    justify-content: center; /* Center text inside the button */
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    position: absolute; /* Absolute positioning for more control */
  }
  
  .chair.top {
    top: -6%; 
    transform: translateX(-50%);
  }
  .chair.bottom {
    bottom: -6%; 
    transform: translateX(-50%);
  }

  .chair.right {
    left: 70%; /* Center horizontally */
  }
  .chair.left {
    left: 30%; /* Center horizontally */
  }

  .chair.center {
    left: 50%; /* Center horizontally */
  }

  .chair.up {
    top: 20%; 
    transform: translateX(-50%);
    /* Position above the table */
  }

  .chair.down {
    bottom: 20%; /* Position below the table */
    transform: translateX(-50%);
  }
  
  .chair.left-edge {
    left: 4% /* Position above the table */
  }

  .chair.right-edge {
    right: -4.5%; /* Position above the table */
  }


  .empty {
    pointer-events: auto;
  }

  .occupied {
    pointer-events: none;
  }

  .player-name {
    position: absolute;
    top: -20px; /* Adjust position above the chair */
    left: 50%; /* Center horizontally relative to the chair */
    transform: translateX(-50%);
    font-size: 0.8rem;
    text-align: center;
    color: #fff; /* Example color */
  }

  .player-budget {
    position: absolute;
    bottom: -20px; /* Adjust position below the chair */
    left: 50%; /* Center horizontally relative to the chair */
    transform: translateX(-50%);
    font-size: 0.8rem;
    text-align: center;
    color: #fff; /* Example color */
  }
