


.table-centerer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 6%;
    background-color: rgba(88, 4, 4);
  }
  
  .table-container {
    position: relative;
    width: 75%;
  }

  .table {
    width: 100%; /* Ensures the image resizes based on its container */
    height: 100%;    
    /* mix-blend-mode: multiply; */
  }
  
  .MuiBox-root {
    z-index: 1000;
  }
  